@media only screen and (max-width : 1199px) {
    .photo {
        width: 200px;
    }
    .photo1 {
        width: 700px;
    }
}
@media only screen and (max-width : 901px) {
    
    .photo {
        float: none;
        width: 490px;
        
    }
    .photo1 {
        float: none;
        width: 100px;
    }
}
@media only screen and (max-width : 600px) {}
@media only screen and (max-width : 300px) {}
