body {
    background-color: black;
}
.photo {
    float: left;
    width: 400px;
    height: 800px;
    background-color: forestgreen;
    
}
.photo1 {
    float: right;
    width: 400px;
    height: 800px;
    background-color:firebrick;
    
    
}